<h3>Customers</h3>

<ul>
  <li (click)="login(user)" *ngFor="let user of users | async"><a href="">{{user.fullname}}</a></li>
</ul>

<h3>Chefs</h3>

<ul>
  <li (click)="login(user)" *ngFor="let user of chefs | async"><a href="">{{user.fullname}}</a></li>
</ul>
