<h3>Available Food Preferences</h3>

<ul>
  <li (click)="addFoodCategory(foodCategory)" *ngFor="let foodCategory of foodCategories | async">{{foodCategory}}</li>
</ul>

<h3>Saved Food Preferences</h3>

<ul>
  <li (click)="removeFoodCategory(foodCategory)" *ngFor="let foodCategory of userFoodCategories | async">{{foodCategory}}</li>
</ul>
