<header>
  <a [routerLinkActive]="['link--active']" [routerLink]="['/login']">Chef's Table</a>
  <a [routerLinkActive]="['link--active']" [routerLink]="['/login']">Login</a>
</header>
<div class="site">
  <router-outlet></router-outlet>
</div>
