header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  background-color: rgba(0,0,0,.8);
  z-index: 999;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: white;
}

.site {
  padding: 120px 20px 20px 20px;
  display: flex;
  justify-content: center;
}
