/* You can add global styles to this file, and also import other style files */
@import "./node_modules/reset-css/_reset";

body {
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  font-weight: 300;
  color: #1f1f1f;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
  li {
    background-color: #efefef;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: solid rgba(0,0,0,.1) 1px;
    &:last-child {
      border-bottom: none;
    }
    transition: all .25s;
    &:hover {
      transform: scale(1.03);
    }
  }
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #1f1f1f;
}
